{% extends '__base__.html' %}
{% block title %}IT Weekly Working Plan{% endblock %}
{% block beforehead %}{% endblock %}
{% block content %}
<div class="row">
		<div class="col-sm-8">
                        <div class="panel panel-success">
				<div class="panel-heading">
                                        <h3 class="panel-title"><b>Weekly Meeting Agenda</b></h3>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                        <div>
						<ul>
							<li>Safety Tips</li>
                                                	<li>Success Stories</li>
                                                	<li>Rumors</li>
                                                	<li>Review TT status include SOP, TRQ etc.</li>
                                                	<li>Review Project task (AtTask)</li>
                                                	<li>Review working plan then report hot issue or other local project (Re-layout)</li>
                                                	<li>Delivery information</li>
                                                	<li>Q&A</li>
						</ul>
                                        </div>
                                </div>
                        </div>
                </div>

                <div class="col-sm-1">
                        <div>
                                <p></p>
                        </div>
                </div>

                <div class="col-sm-3">
                        <div class="panel panel-success">
				 <div class="panel-heading">
                                        <h3 class="panel-title"><b>Quick Links</b></h3>
                                </div><!-- /.panel-heading -->
                                <div class="panel-body">
                                        <div>
                                                <table class="table table-condensed">
                                                        <tr><td><a href="https://portal2010.z.com/sites/FCITSW/FC IT SW Documents/Forms/AllItems.aspx" target="_blank">TRQ metric report</a></td></tr>
                                                        <tr><td><a href="http://fc-it-attask.z.com" target="_blank">Attask</a></td></tr>
                                                        <tr><td><a href="https://portal.ant.z.com/sites/China.FC.IT.Infra/South%20IT%20weekly%20meeting/default.aspx" target="_blank">South IT weekly meeting minutes</a></td></tr>
							<tr><td><a href="https://fc-it-dashboard.z.com" target="_blank">FC IT Dashboard</a></td></tr>
                                                        <tr><td><a href="https://fc-it-metrics.z.com" target="_blank">FC-IT-Metrics</a></td></tr>
                                                </table>
                                        </div>
                                </div>
                        </div>
                </div>
</div>
{% endblock %}
