{% extends '__base__.html' %}
{% block title %}IT Weekly Working Plan{% endblock %}
{% block beforehead %}
<script>
var
    action = '{{ action }}',
    redirect = '{{ redirect }}';

$(function () {
    var vm = new Vue({
        el: '#form-north',
        data: {
            site: '',
            typee: '',
            item: '',
            progress: '',
	    details: '',
	    ttcm: '',
	    owner: ''
        },
        methods: {
            submit: function (event) {
                event.preventDefault();
                if (! this.site.trim()) {
                    return showError('Site is required.');
                }
		if (! this.typee.trim()) {
                    return showError('Type is required.');
                }
		if (! this.item.trim()) {
                    return showError('Item is required.');
                }
		if (! this.progress.trim()) {
                    return showError('Progress is required.');
                }
		if (! this.details.trim()) {
                    return showError('Details is required.');
                }
		if (! this.owner.trim()) {
                    return showError('Owner is required.');
                }
                startLoading();
                postApi(action, {
                    site: this.site,
		    typee: this.typee,
            	    item: this.item,
            	    progress: this.progress,
            	    details: this.details,
            	    ttcm: this.ttcm,
            	    owner: this.owner,
                }, function (err, r) {
                    if (err) {
                        showError(err);
                    }
                    else {
                        return location.assign(redirect);
                    }
                    stopLoading();
                });
            }
        }
    });
});

function initVM(data) {
    $('#div-northweeks').show();
    var vm = new Vue({
        el: '#div-northweeks',
        data: {
            northweeks: data.northweeks,
            page: data.page
        },
        methods: {
            previous: function () {
                gotoPage(this.page.page_index - 1);
            },
            next: function () {
                gotoPage(this.page.page_index + 1);
            }
        }
    });
}

$(function() {
    getApi('/api/north/weeks?page={{ page_index }}', function (err, results) {
        if (err) {
            return showError(err);
        }
        $('#div-loading').hide();
        initVM(results);
    });
});
</script>
{% endblock %}
{% block nav %}
<li><a href="/plan"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li><a href="/plan/south">South</a></li>
<li class="active"><a href="/plan/north">North</a></li>
{% endblock %}
{% block content %}
	<div class="row">
                <div class="col-sm-8">
                <div class="panel panel-success">
		<div class="panel-heading">
                	<h3 class="panel-title"><b>New Plan</b></h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                        <form id="form-north" v-on="submit: submit" class="form-horizontal">
                                <fieldset>
					<div class="alert alert-danger hidden alert-dismissible fade in">
                        		</div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Site:</label>
                                                <div class="col-sm-4">
                                                        <select class="form-control" v-model="site">
                                                        <option value="" selected="selected">----------</option>
							<option value="HRB1">HRB1</option>
                                                        <option value="PEK3">PEK3</option>
                                                        <option value="PEK8">PEK8</option>
                                                        <option value="SHA2">SHA2</option>
                                                        <option value="SHA3">SHA3</option>
                                                        <option value="SHE1">SHE1</option>
                                                        <option value="TNA1">TNA1</option>
                                                        <option value="TSN2">TSN2</option></select>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Type:</label>
                                                <div class="col-sm-4">
                                                        <select class="form-control" v-model="typee">
                                                        <option value="" selected="selected">----------</option>
                                                        <option value="&#x9879;&#x76EE;">&#x9879;&#x76EE;</option>
                                                        <option value="&#x8FD0;&#x7EF4;">&#x8FD0;&#x7EF4;</option></select>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Item:</label>
                                                <div class="col-sm-6">
                                                        <input class="form-control" laceholder="" type="text" v-model="item">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Progress:</label>
                                                <div class="col-sm-4">
                                                        <select class="form-control" v-model="progress">
                                                        <option value="" selected="selected">----------</option>
                                                        <option value="10%">10%</option>
                                                        <option value="30%">30%</option>
                                                        <option value="50%">50%</option>
                                                        <option value="70%">70%</option>
                                                        <option value="90%">90%</option>
                                                        <option value="100%">100%</option></select>
                                                </div>
                                        </div>
					<div class="form-group">
                                                <label class="col-sm-3 control-label">Details:</label>
                                                <div class="col-sm-6">
                                                        <textarea class="form-control" placeholder="" v-model="details"></textarea>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">TT/CM:</label>
                                                <div class="col-sm-6">
                                                        <input class="form-control" placeholder="" type="text" v-model="ttcm">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Owner:</label>
                                                <div class="col-sm-6">
                                                        <input class="form-control" placeholder="" type="text" v-model="owner">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label"></label>
                                                <div class="col-sm-6">
                                                        <button type="submit" class="btn btn-sm btn-success">
							<span class="glyphicon glyphicon-plane"></span>
							<strong>Submit</strong>
							</button>
                                                </div>
                                        </div>
                                </fieldset>
                        </form>
		</div>
                </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                <div class="panel panel-success">
     		<div class="panel-heading">
                        <h3 class="panel-title"><b>Working Plan</b></h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                        <div id="div-northweeks">
				<div>
                                <table class="table table-condensed">
					<tr v-repeat="northweek: northweeks"><td><a v-attr="href: '/plan/north/'+northweek.week" v-text="northweek.week"></a></td></tr>
                                </table>
				</div>
			 	<div class="text-center">
				<ul class="pagination">
					<li v-if="! page.has_previous" class="disabled"><a href="#0">&laquo;</a></li>
					<li v-if="page.has_previous"><a v-on="click: previous()" href="#0">&laquo;</a></li>
					<li class="active"><a href="#0"><span v-text="page.page_index"></span></a></li>
					<li v-if="! page.has_next" class="disabled"><a href="#0">&raquo;</a></li>
					<li v-if="page.has_next"><a v-on="click: next()" href="#0">&raquo;</a></li>
   				</ul>
				</div>
                        </div>
                </div>
                </div>
                </div>
        </div>
{% endblock %}
