{% extends '__base__.html' %}
{% block title %}IT Weekly Working Plan{% endblock %}
{% block nav %}
<li><a href="/plan"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li class="active"><a href="/plan/south">South</a></li>
<li><a href="/plan/north">North</a></li>
{% endblock %}
{% block navright %}
<li><a href="">{{ south_week_id }}</a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
{% endblock %}
{% block content %}
<table class="table table-bordered">
<tr><th width="50">Site</th><th width="50">Type</th><th>Item</th><th width="80">Progress</th><th>Details</th><th>TT/CM</th><th>Owner</th></tr>
{% for p in southplan %}
{% if p.site in ["CAN4","NNG1","XIY2"] %}
<tr class="success"><td>{{ p.site }}</td><td>{{ p.type }}</td><td><a href="/plan/south/edit/{{ p.id }}">{{ p.item }}</a></td><td>{{ p.progress }}</td><td>{{ p.details }}</td><td><a href="{{ p.ttcm }}" target="_blank">{{ p.ttcm }}</a></td><td>{{ p.owner }}</td></tr>
{% else %}
<tr><td>{{ p.site }}</td><td>{{ p.type }}</td><td><a href="/plan/south/edit/{{ p.id }}">{{ p.item }}</a></td><td>{{ p.progress }}</td><td>{{ p.details }}</td><td><a href="{{ p.ttcm }}" target="_blank">{{ p.ttcm }}</a></td><td>{{ p.owner }}</td></tr>
{% endif %}
{% endfor %}
</table>
<div>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
{% endblock %}
