{% extends '__base__.html' %}
{% block title %}IT Weekly Working Plan{% endblock %}
{% block beforehead %}
<script>
var
    action = '{{ action }}',
    redirect = '{{ redirect }}';

function initVue(south) {
    var vm = new Vue({
        el: '#form-south-edit',
        data: south,
        methods: {
            submit: function (event) {
                event.preventDefault();
                startLoading();
                postApi(action, this.$data, function (err, r) {
                    if (err) {
                        showError(err);
                    }
                    else {
                        return location.assign(redirect);
                    }
                    stopLoading();
                });
            }
        }
    });
};

$(function () {
    getApi('/api/south/edit/{{ id }}', function (err, south) {
	if (err) {
	    showError(err);
	}
	else {
	    initVue(south);
	}
    });
});

</script>

{% endblock %}
{% block nav %}
<li><a href="/plan"><span class="glyphicon glyphicon-home"></span> Home</a></li>
<li class="active"><a href="/plan/south">South</a></li>
<li><a href="/plan/north">North</a></li>
{% endblock %}
{% block content %}
	<div class="row">
                <div class="col-sm-8">
                <div class="panel panel-success">
		 <div class="panel-heading">
                        <h3 class="panel-title"><b>Edit Plan</b></h3>
                </div><!-- /.panel-heading -->
                <div class="panel-body">
                        <form id="form-south-edit" v-on="submit: submit" class="form-horizontal">
                                <fieldset>
					<div class="alert alert-danger hidden alert-dismissible fade in">
                        		</div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Site:</label>
                                                <div class="col-sm-4">
                                                        <select class="form-control" v-model="site">
                                                        <option value="" selected="selected">----------</option>
                                                        <option value="CAN4">CAN4</option>
                                                        <option value="CTU4">CTU4</option>
                                                        <option value="NNG1">NNG1</option>
                                                        <option value="WUH2">WUH2</option>
							<option value="XIY2">XIY2</option>
                                                        <option value="XMN2">XMN2</option></select>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Type:</label>
                                                <div class="col-sm-4">
                                                        <select class="form-control" v-model="type">
                                                        <option value="" selected="selected">----------</option>
                                                        <option value="&#x9879;&#x76EE;">&#x9879;&#x76EE;</option>
                                                        <option value="&#x8FD0;&#x7EF4;">&#x8FD0;&#x7EF4;</option></select>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Item:</label>
                                                <div class="col-sm-6">
                                                        <input class="form-control" laceholder="" type="text" v-model="item">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Progress:</label>
                                                <div class="col-sm-4">
                                                        <select class="form-control" v-model="progress">
                                                        <option value="" selected="selected">----------</option>
                                                        <option value="10%">10%</option>
                                                        <option value="30%">30%</option>
                                                        <option value="50%">50%</option>
                                                        <option value="70%">70%</option>
                                                        <option value="90%">90%</option>
                                                        <option value="100%">100%</option></select>
                                                </div>
                                        </div>
					<div class="form-group">
                                                <label class="col-sm-3 control-label">Details:</label>
                                                <div class="col-sm-6">
                                                        <textarea class="form-control" placeholder="" v-model="details"></textarea>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">TT/CM:</label>
                                                <div class="col-sm-6">
                                                        <input class="form-control" placeholder="" type="text" v-model="ttcm">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label">Owner:</label>
                                                <div class="col-sm-6">
                                                        <input class="form-control" placeholder="" type="text" v-model="owner">
                                                </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-sm-3 control-label"></label>
                                                <div class="col-sm-2">
                                                        <button type="submit" class="btn btn-sm btn-success">
							<span class="glyphicon glyphicon-hdd"></span>
							<strong>Save</strong>
							</button>
                                                </div>
						<div class="col-sm-2">
							<a class="btn btn-sm btn-danger" href="/plan/south/delete/{{ id }}"><span class="glyphicon glyphicon-trash"></span><strong> Delete</strong></a>
						</div>
                                        </div>
                                </fieldset>
                        </form>
		</div>
                </div>
                </div>
        </div>
{% endblock %}
